.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    grid-auto-rows: minmax(100px, auto);
    animation: Move1 10s linear infinite;
    position: absolute;
}

.container div{
    border: solid black 2px;
    border-radius: 100%;
    background-image: linear-gradient(orange, black);
    animation: Circles 10s linear infinite;
}

@keyframes Circles{
    0%{
        border-radius: 100%;
        background-image: linear-gradient(orange, black);
    }20%{
        border-radius: 0%;
        background-image: linear-gradient(rgb(51, 255, 0), rgb(170, 24, 24));
    }40%{
        transform: rotate(0deg);
    }60%{
        transform: rotate(360deg);
        background-image: linear-gradient(rgb(95, 64, 167), rgb(233, 108, 191));
    }80%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(0deg);
        border-radius: 100%;
        background-image: linear-gradient(orange, black);
    }
}